.campeones {
    color: rgb(255, 215, 0);
    animation: brilloAmarillo 3s ease-in-out infinite;
    font-weight: bold;
}

@keyframes brilloAmarillo {
    0%, 100% {
        text-shadow: 
            0 0 5px rgba(255, 255, 0, 0.8),
            0 0 10px rgba(255, 255, 0, 0.6),
            0 0 15px rgba(255, 215, 0, 0.4),
            0 0 20px rgba(255, 215, 0, 0.2);
        color: rgb(255, 215, 0);
    }
    50% {
        text-shadow: 
            0 0 10px rgba(255, 255, 0, 1),
            0 0 20px rgba(255, 255, 0, 0.8),
            0 0 30px rgba(255, 215, 0, 0.6),
            0 0 40px rgba(255, 215, 0, 0.4),
            0 0 50px rgba(255, 215, 0, 0.2);
        color: rgb(255, 255, 0);
    }
}

.legendaria {
background: linear-gradient(90deg, 
        rgb(255, 0, 0),     
        rgb(255, 165, 0),   
        rgb(255, 215, 0),   
        rgb(0, 255, 0),     
        rgb(0, 255, 255),   
        rgb(0, 0, 255),     
        rgb(138, 43, 226),  
        rgb(255, 0, 0)      
    );
    background-size: 400% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: moveColor 7s linear infinite;
    font-weight: bold;
}

@keyframes moveColor {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 400% 50%;
    }
}

.epica {
    color: purple;
}

.especial {
    color: orange;
}

.comun {
    color: lightblue;
}

.img-card {
    height: 150px;
}
